-- ==============================================================================
-- FINAL FIX: RESTORE ALL LEGACY DATA TO THE SPECIFIC CLIENT
-- ==============================================================================

DO $$$
DECLARE
    v_correct_tenant_id UUID;
BEGIN
    -- 1. Find the EXACT tenant_id of the client you are currently viewing.
    -- We know Bakrudheen is in this client, so we use his record as the anchor.
    SELECT tenant_id INTO v_correct_tenant_id
    FROM public.staff
    WHERE name ILIKE '%BAKRUDHEEN%'
    LIMIT 1;

    -- 2. If we found the correct tenant, move ALL old data (created before the SaaS update) into it!
    IF v_correct_tenant_id IS NOT NULL THEN
        -- Move all staff created before August 1, 2026 to this exact tenant
        UPDATE public.staff 
        SET tenant_id = v_correct_tenant_id 
        WHERE created_at < '2026-08-01';
           
        -- Move all related records created before August 1, 2026
        UPDATE public.attendance SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.old_staff_records SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.advances SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.advance_entries SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.salary_hikes SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.break_events SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.leave_requests SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        UPDATE public.punch_events SET tenant_id = v_correct_tenant_id WHERE created_at < '2026-08-01';
        
        -- Move all admin users created before August 1 to this tenant
        UPDATE public.app_users 
        SET tenant_id = v_correct_tenant_id 
        WHERE created_at < '2026-08-01' AND role != 'super_admin';
    END IF;
END $$$;
